/*
    Document   : css/style．css
    Created on : 2015-01-16 02:02 PM
    Author     : DavidFH
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}