<!DOCTYPE html>

<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Signika:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/team.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/jquery.flip.js"></script>

    <script src="http://jwpsrv.com/library/Y90shvxsEeKNihIxOUCPzg.js"></script>
    <script src="js/wikipedia.js"></script>
    <title>{{query[0].teamName}}</title>
</head>

<body>
    <section id="screen" onclick="display()">
    </section>
    <div id="header">
        <div class="leftFloat leftHead">
            <img class="leftFloat" src="imgs/flaming.svg" alt="">
            <h1 class="leftFloat"><a href="../">321COM MASHUP</a></h1> 
        </div>
        <ul class="rightFloat rightHead">
            <li class="navLink"><a href="../">TEAMS</a> 
            </li>
            <li class="navLink"><a href="">PLAYERS</a> 
            </li>
        </ul>
    </div>
    <div id="mid">
        <section id="teamContents">
            <section id="teamHeader">
                <img id="logo" src="{{query[0].emblem}}">
                <h1 id="teamName">{{query[0].teamName}}</h1>
                <a id="map" href="#" onclick="display()">Show Stadium</a>
            </section>

            
            <section id='youtubePlayer'></section>           
            <section class="leftFloat">
                <table id="teamTable" class="flat-table">
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Position</th>
                    </tr>
                    {% for p in players %}
                    <tr class = "player">
                        <td><b>{{p[0]}}</b>
                        </td>
                        <td>{{p[1]}}</td>
                        <td>{{p[2]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <section class="leftFloat">
                <div id='wikiInfo'>
                </div>   
            </section>
            <section class="leftFloat">
                <table class="flat-table tweets">
                    <tr>
                        <th class="time">Time Tweeted</th>
                        <th>Tweet</th>
                    </tr>
                    {% for t in tweets %}
                    <tr class="Tweet">
                        <td>
                            <b>{{t.created_at[0:19]}}</b>
                        </td>
                        <td>
                            {{t.text}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
        </section>
        <section id="mapCon">
            <img id="close" src="../imgs/close.png" alt="close" onclick="display()">
            <iframe id="googleMaps" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCZ7qzK8IoZFAs4b4mWxvIywq07tGxUGY8&center={{query[0].lat}},{{query[0].lon}}&zoom=18&maptype=satellite">
            </iframe>
        </section>
    </div>
    <div id="footer">
        <div id="footerCon">
            <h1>Lorem ipsum dolar sit amet.</h1> 

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt lectus in sapien hendrerit viverra. Cras nunc nibh, congue at</p>
        </div>

    </div>
    <script>
        var show = false;

        function display() {
            if(!show) {
                document.getElementById('mapCon').style.display = 'block';
                document.getElementById('screen').style.display = 'block';
                show = true;
            } else {
                document.getElementById('mapCon').style.display = 'none';
                document.getElementById('screen').style.display = 'none';
                show = false;
            };
        };
              jwplayer("youtubePlayer").setup({
                playlist: [
                    {% for y in youtube %}
                    {
                  image: "{{y.thumbnail.hqDefault}}", file: "{{y.player.default}}", title: "{{y.title}}"
                },
                {% endfor %}
                ],

                height: 300,
                width: 900,
                listbar: {
                  position: 'right',
                  size: 260
                },
              });
        getwiki({{query[0].wikipedia}})
    </script>
    <script src="js/flip.js"></script>
</body>

</html>